@import url("https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@500&display=swap");

*, body {
  box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  color: #747780;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #989a9e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b7b8bd; 
}
/* 

*/
div.dashboard-widget-lesson_gauge_chart,
div.dashboard-grid-widget-container,
div.dashboard-grid-widget-header {
  /* font-family: 'Jura', sans-serif; */
  font-family: "Tektur", sans-serif;
}

.dashboard-grid-widget-header h4 {
  font-size: 11px;
}

div.dashboard-grid-widget-contents,
.dashboard-grid-widget-header {
  /* border: 1px solid rgb(43, 42, 42); */
  border: none;
  background-color: #17191e;
  background-image: url(../image/bg_admin.gif);
  /* box-shadow: rgba(7, 75, 114, 0.333) 0px 1px 1px, rgba(7, 65, 112, 0.333) 0px 1px 1px; */
}
 



/* table Custom Header */

div.dashboard-widget-lesson_gauge_chart .tblCustomHeader thead {
  height: 20px;
  font-weight: 600;
  color: #2dd1dd;
  background-color: #1e2028;
  background-image: url(../image/bg_admin.gif);
}

div.dashboard-widget-lesson_gauge_chart .tblCustomHeader thead tr td {
  padding: 10px 5px 5px 5px;
}
div.dashboard-widget-lesson_gauge_chart .tblCustomHeader {
  width: 100%; 
  text-shadow: 0px 1px 5px rgba(36, 236, 243, 0.4);
}

div.dashboard-widget-lesson_gauge_chart .tblCustomHeader thead .ipTitle {
  width: 150px;
  min-width: 150px;
  padding-left: 5px;
}

div.dashboard-widget-lesson_gauge_chart .tblCustomHeader thead .urlTitle { 
  max-width: auto;
  min-width: 400px;
}

div.dashboard-widget-lesson_gauge_chart .tblCustomHeader thead .statusTitle {
  display: flex;
  width: auto; 
  min-width: 200px;
} 

div.dashboard-widget-lesson_gauge_chart .tblCustomHeader thead .countTitle { 
  width: 100px;
  min-width: 100px;
}

/*  main table show data*/
div.dashboard-widget-lesson_gauge_chart .tblContainer  {
  width: 100%;
  min-width: auto; 
  height: 300px; 
  overflow: auto; 
}

div.dashboard-widget-lesson_gauge_chart .tblContainer .tblCustom {
  width: 100%;
  text-shadow: 0px 1px 5px rgba(36, 236, 243, 0.4);  
}
 /* div.dashboard-widget-lesson_gauge_chart .tblCustom thead {
  height: 20px;
  font-weight: 600;
  color: #2dd1dd;
  background-color: #1e2028;
  background-image: url(../image/bg_admin.gif);
} */


div.dashboard-widget-lesson_gauge_chart .tblCustom tbody tr {
  padding: 10px 0;
  border-right: 1px solid transparent;
}

div.dashboard-widget-lesson_gauge_chart .tblCustom tbody tr:not(:last-child) {
  border-bottom: 1px solid rgba(61, 128, 194, 0.2);
}

div.dashboard-widget-lesson_gauge_chart .tblCustom tbody tr:hover {
  background-color: #1e2028;
  background-image: url(../image/bg_admin.gif);
  border-right: 1px solid #dd2d7f;
  transform: translateX(-3px);
  transition: 0.3s all; 
}

div.dashboard-widget-lesson_gauge_chart .tblCustom tbody tr td {
  margin: 8px 0;
  vertical-align: middle;
  overflow: hidden;
}

div.dashboard-widget-lesson_gauge_chart .tblCustom .ipClm {
  width: 150px;
  min-width: 150px;
  padding-left: 5px;
}

div.dashboard-widget-lesson_gauge_chart .tblCustom .urlClm {
  max-width: 400px !important;
  padding: 0 5px;
  text-overflow: ellipsis;
}

div.dashboard-widget-lesson_gauge_chart .tblCustom .countClm { 
  width: 100px;
  min-width: 100px;
  padding-left: 10px;
  color: #2dd1dd;
}
div.dashboard-widget-lesson_gauge_chart .tblCustom .statusBarClm {
  display: flex;
  width: auto;   
  min-width: 200px;
  justify-content: end;
}
div.dashboard-widget-lesson_gauge_chart .tblCustom .statusBarC {
  width: 200px;
  background-color: #1e2028;
  border-radius: 3px;
  /* box-shadow: rgba(0, 105, 243, 0.05) 0px 0px 0px 1px, rgba(2, 111, 253, 0.05) 0px 0px 0px 1px inset; */
} 
div.dashboard-widget-lesson_gauge_chart .tblCustom .statusBar {
  display: block;
  height: 20px;
  border-radius: 3px;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(9, 71, 121, 1) 0%,
    rgb(35, 119, 230) 45%,
    rgba(0, 212, 255, 1) 100%
  );
}
/* 
.dashboard-grid-widget-hidden-header
div.dashboard-widget-lesson_gauge_chart
  .chart {
  margin-top: 8px;
} */
